*{
    color: black;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
}

nav{

}

aside{

}

footer{
    max-width: 130px;
    height: 30px;

}

.header{
    text-align: center;
    max-width: 350px;
    height: 40px;
    display: flex;
    margin: auto;
    background-color: magenta;
    font-size: 46px;
}

.footer{
    border: black;
    display: flex;
    margin: auto;
    background-color: magenta;
    font-size: 10px;
}

.content{
    background-color: blue;
    font-size: 14px;
}

.aside{
    background-color: blue;
}

.nav{
    background-color: blue;
    font-size: 12px;
}

.sidebar{
    font-size: 10px;
    background-color: magenta;
}
